<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6DO23LGqQE2jOEniRMwjc_prpemrfq94</string>
	<key>GCM_SENDER_ID</key>
	<string>641359770779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pheobe</string>
	<key>PROJECT_ID</key>
	<string>phoebe-d60af</string>
	<key>STORAGE_BUCKET</key>
	<string>phoebe-d60af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641359770779:ios:5197ab19b293c62cfbc23e</string>
</dict>
</plist>